## Data Types
![Data types](https://miro.medium.com/max/1400/1*kySPZcf83qLOuaqB1vJxlg.jpeg)

In [6]:
# Importing data
import pandas as pd

auto_mpg_df = pd.read_table('./data/auto-mpg/auto-mpg.data', sep="\t", header=None, names=("mpg","cylinders","displacement","horsepower","weight","acceleration","model_year","origin","car_name"))

In [15]:
auto_mpg_df.sample(n=10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
40,19.0,6.0,232.0,100.0,2634.0,13.0,71.0,1.0,amc gremlin
65,24.0,4.0,113.0,95.0,2278.0,15.5,72.0,3.0,toyota corona hardtop
31,10.0,8.0,360.0,215.0,4615.0,14.0,70.0,1.0,ford f250
179,24.0,4.0,134.0,96.0,2702.0,13.5,75.0,3.0,toyota corona
280,23.2,4.0,156.0,105.0,2745.0,16.7,78.0,1.0,plymouth sapporo
341,29.8,4.0,89.0,62.0,1845.0,15.3,80.0,2.0,vokswagen rabbit
320,32.1,4.0,98.0,70.0,2120.0,15.5,80.0,1.0,chevrolet chevette
365,32.4,4.0,108.0,75.0,2350.0,16.8,81.0,3.0,toyota corolla
78,13.0,8.0,400.0,190.0,4422.0,12.5,72.0,1.0,chrysler newport royal
156,26.0,4.0,116.0,75.0,2246.0,14.0,74.0,2.0,fiat 124 tc

In [16]:
auto_mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           400 non-null    float64
 1   cylinders     409 non-null    float64
 2   displacement  409 non-null    float64
 3   horsepower    403 non-null    float64
 4   weight        409 non-null    float64
 5   acceleration  409 non-null    float64
 6   model_year    409 non-null    float64
 7   origin        409 non-null    float64
 8   car_name      409 non-null    object
dtypes: float64(8), object(1)
memory usage: 28.9+ KB

In [17]:
auto_mpg_df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,400.000000,409.000000,409.000000,403.000000,409.000000,409.000000,409.000000,409.000000
mean,23.482000,5.488998,195.759169,105.429280,2986.088020,15.496577,75.897311,1.564792
std,7.810255,1.715129,106.809049,38.959819,848.259456,2.812496,3.754633,0.796027
min,9.000000,3.000000,4.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.375000,4.000000,105.000000,76.000000,2228.000000,13.600000,73.000000,1.000000
50%,23.000000,4.000000,151.000000,95.000000,2833.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,302.000000,130.000000,3630.000000,17.100000,79.000000,2.000000
max,46.600000,8.000000,502.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [20]:
auto_mpg_df['origin'] = auto_mpg_df['origin'].astype(int)
auto_mpg_df['origin'] = pd.Categorical(auto_mpg_df.origin)

In [21]:
auto_mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           400 non-null    float64
 1   cylinders     409 non-null    float64
 2   displacement  409 non-null    float64
 3   horsepower    403 non-null    float64
 4   weight        409 non-null    float64
 5   acceleration  409 non-null    float64
 6   model_year    409 non-null    float64
 7   origin        409 non-null    category
 8   car_name      409 non-null    object
dtypes: category(1), float64(7), object(1)
memory usage: 26.2+ KB

In [22]:
auto_mpg_df['model_year'] = auto_mpg_df['model_year'] + 1900

# auto_mpg_df['model_year'] = auto_mpg_df['model_year'].map(lambda x: x + 1900)
# auto_mpg_df['model_year'] = auto_mpg_df['model_year'].apply(lambda x: x + 1900)

In [26]:
auto_mpg_df.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
64,26.0,4.0,91.0,70.0,1955.0,20.5,1971,1,plymouth cricket
367,31.6,4.0,120.0,74.0,2635.0,18.3,1981,3,mazda 626
85,22.0,4.0,121.0,76.0,2511.0,18.0,1972,2,volkswagen 411 (sw)
292,20.2,6.0,232.0,90.0,3265.0,18.2,1979,1,amc concord dl 6
315,28.8,6.0,173.0,115.0,2595.0,11.3,1979,1,chevrolet citation

In [24]:
auto_mpg_df['model_year'] = auto_mpg_df['model_year'].astype(int)

In [25]:
auto_mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           400 non-null    float64
 1   cylinders     409 non-null    float64
 2   displacement  409 non-null    float64
 3   horsepower    403 non-null    float64
 4   weight        409 non-null    float64
 5   acceleration  409 non-null    float64
 6   model_year    409 non-null    int64
 7   origin        409 non-null    category
 8   car_name      409 non-null    object
dtypes: category(1), float64(6), int64(1), object(1)
memory usage: 26.2+ KB

In [29]:
auto_mpg_df['origin_name'] = auto_mpg_df['origin'].astype(str).map({'1': 'US', '2': 'European', '3': 'Asian'})

In [30]:
auto_mpg_df.sample(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,origin_name
227,25.5,4.0,122.0,96.0,2300.0,15.5,1977,1,plymouth arrow gs,US
286,16.2,6.0,163.0,133.0,3410.0,15.8,1978,2,peugeot 604sl,European
181,24.0,4.0,119.0,97.0,2545.0,17.0,1975,3,datsun 710,Asian

# Data Cleaning