# Working with Data
## Python File Open

In [7]:
file = open('data.txt', 'w')
for i in range(10,100,3):
  file.write(str(i)+"\t"+str(i*10-40)+"\n")
file.close()

In [18]:
file = open('data.txt', 'r')
data = file.read()
x = []
y = []
print(data)
file.seek(0)

for line in file:
  line_split = line.replace('\n', '').split('\t')
  x.append(line_split[0])
  y.append(line_split[1])

file.close()

print(x)
print(y)

10	60
13	90
16	120
19	150
22	180
25	210
28	240
31	270
34	300
37	330
40	360
43	390
46	420
49	450
52	480
55	510
58	540
61	570
64	600
67	630
70	660
73	690
76	720
79	750
82	780
85	810
88	840
91	870
94	900
97	930

['10', '13', '16', '19', '22', '25', '28', '31', '34', '37', '40', '43', '46', '49', '52', '55', '58', '61', '64', '67', '70', '73', '76', '79', '82', '85', '88', '91', '94', '97']
['60', '90', '120', '150', '180', '210', '240', '270', '300', '330', '360', '390', '420', '450', '480', '510', '540', '570', '600', '630', '660', '690', '720', '750', '780', '810', '840', '870', '900', '930']

In [20]:
with open('data.txt', 'r') as file:
  data = file.read()
  x = []
  y = []
  print(data)
  file.seek(0)

  for line in file:
    line_split = line.replace('\n', '').split('\t')
    x.append(line_split[0])
    y.append(line_split[1])

  print(x)
  print(y)

10	60
13	90
16	120
19	150
22	180
25	210
28	240
31	270
34	300
37	330
40	360
43	390
46	420
49	450
52	480
55	510
58	540
61	570
64	600
67	630
70	660
73	690
76	720
79	750
82	780
85	810
88	840
91	870
94	900
97	930

['10', '13', '16', '19', '22', '25', '28', '31', '34', '37', '40', '43', '46', '49', '52', '55', '58', '61', '64', '67', '70', '73', '76', '79', '82', '85', '88', '91', '94', '97']
['60', '90', '120', '150', '180', '210', '240', '270', '300', '330', '360', '390', '420', '450', '480', '510', '540', '570', '600', '630', '660', '690', '720', '750', '780', '810', '840', '870', '900', '930']

In [33]:
import pandas as pd

pd.set_option('display.max_rows', 500)

with open('data.txt', 'r') as file:
  data = file.read()
  x = []
  y = []
  # print(data)
  file.seek(0)

  for line in file:
    line_split = line.replace('\n', '').split('\t')
    x.append(line_split[0])
    y.append(line_split[1])

  df = pd.DataFrame({'x': x, 'y': y})

  # print(x)
  # print(y)
  print(df)

     x    y
0   10   60
1   13   90
2   16  120
3   19  150
4   22  180
5   25  210
6   28  240
7   31  270
8   34  300
9   37  330
10  40  360
11  43  390
12  46  420
13  49  450
14  52  480
15  55  510
16  58  540
17  61  570
18  64  600
19  67  630
20  70  660
21  73  690
22  76  720
23  79  750
24  82  780
25  85  810
26  88  840
27  91  870
28  94  900
29  97  930

In [45]:
import pandas as pd

new_df = pd.read_table('data.txt', header=None, names=('X','Y'))
print(new_df)

     X    Y
0   10   60
1   13   90
2   16  120
3   19  150
4   22  180
5   25  210
6   28  240
7   31  270
8   34  300
9   37  330
10  40  360
11  43  390
12  46  420
13  49  450
14  52  480
15  55  510
16  58  540
17  61  570
18  64  600
19  67  630
20  70  660
21  73  690
22  76  720
23  79  750
24  82  780
25  85  810
26  88  840
27  91  870
28  94  900
29  97  930

In [47]:
import pandas as pd

url = "https://raw.github.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/tips.csv"
tips = pd.read_csv(url)

tips

     total_bill    tip     sex smoker   day    time  size
0         16.99   1.01  Female     No   Sun  Dinner     2
1         10.34   1.66    Male     No   Sun  Dinner     3
2         21.01   3.50    Male     No   Sun  Dinner     3
3         23.68   3.31    Male     No   Sun  Dinner     2
4         24.59   3.61  Female     No   Sun  Dinner     4
5         25.29   4.71    Male     No   Sun  Dinner     4
6          8.77   2.00    Male     No   Sun  Dinner     2
7         26.88   3.12    Male     No   Sun  Dinner     4
8         15.04   1.96    Male     No   Sun  Dinner     2
9         14.78   3.23    Male     No   Sun  Dinner     2
10        10.27   1.71    Male     No   Sun  Dinner     2
11        35.26   5.00  Female     No   Sun  Dinner     4
12        15.42   1.57    Male     No   Sun  Dinner     2
13        18.43   3.00    Male     No   Sun  Dinner     4
14        14.83   3.02  Female     No   Sun  Dinner     2
15        21.58   3.92    Male     No   Sun  Dinner     2
16        10.33   1.67  Female     No   Sun  Dinner     3
17        16.29   3.71    Male     No   Sun  Dinner     3
18        16.97   3.50  Female     No   Sun  Dinner     3
19        20.65   3.35    Male     No   Sat  Dinner     3
20        17.92   4.08    Male     No   Sat  Dinner     2
21        20.29   2.75  Female     No   Sat  Dinner     2
22        15.77   2.23  Female     No   Sat  Dinner     2
23        39.42   7.58    Male     No   Sat  Dinner     4
24        19.82   3.18    Male     No   Sat  Dinner     2
25        17.81   2.34    Male     No   Sat  Dinner     4
26        13.37   2.00    Male     No   Sat  Dinner     2
27        12.69   2.00    Male     No   Sat  Dinner     2
28        21.70   4.30    Male     No   Sat  Dinner     2
29        19.65   3.00  Female     No   Sat  Dinner     2
30         9.55   1.45    Male     No   Sat  Dinner     2
31        18.35   2.50    Male     No   Sat  Dinner     4
32        15.06   3.00  Female     No   Sat  Dinner     2
33        20.69   2.45  Female     No   Sat  Dinner     4
34        17.78   3.27    Male     No   Sat  Dinner     2
35        24.06   3.60    Male     No   Sat  Dinner     3
36        16.31   2.00    Male     No   Sat  Dinner     3
37        16.93   3.07  Female     No   Sat  Dinner     3
38        18.69   2.31    Male     No   Sat  Dinner     3
39        31.27   5.00    Male     No   Sat  Dinner     3
40        16.04   2.24    Male     No   Sat  Dinner     3
41        17.46   2.54    Male     No   Sun  Dinner     2
42        13.94   3.06    Male     No   Sun  Dinner     2
43         9.68   1.32    Male     No   Sun  Dinner     2
44        30.40   5.60    Male     No   Sun  Dinner     4
45        18.29   3.00    Male     No   Sun  Dinner     2
46        22.23   5.00    Male     No   Sun  Dinner     2
47        32.40   6.00    Male     No   Sun  Dinner     4
48        28.55   2.05    Male     No   Sun  Dinner     3
49        18.04   3.00    Male     No   Sun  Dinner     2
50        12.54   2.50    Male     No   Sun  Dinner     2
51        10.29   2.60  Female     No   Sun  Dinner     2
52        34.81   5.20  Female     No   Sun  Dinner     4
53         9.94   1.56    Male     No   Sun  Dinner     2
54        25.56   4.34    Male     No   Sun  Dinner     4
55        19.49   3.51    Male     No   Sun  Dinner     2
56        38.01   3.00    Male    Yes   Sat  Dinner     4
57        26.41   1.50  Female     No   Sat  Dinner     2
58        11.24   1.76    Male    Yes   Sat  Dinner     2
59        48.27   6.73    Male     No   Sat  Dinner     4
60        20.29   3.21    Male    Yes   Sat  Dinner     2
61        13.81   2.00    Male    Yes   Sat  Dinner     2
62        11.02   1.98    Male    Yes   Sat  Dinner     2
63        18.29   3.76    Male    Yes   Sat  Dinner     4
64        17.59   2.64    Male     No   Sat  Dinner     3
65        20.08   3.15    Male     No   Sat  Dinner     3
66        16.45   2.47  Female     No   Sat  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1
68        20.23   2.01    Male     No   Sat  Dinner     2
69        15.01   2.09    Male    Yes   Sat  Dinner     2
70        12.02   1.97    Male     No   Sat  Dinner     2
71        17.07   3.00  Female     No   Sat  Dinner     3
72        26.86   3.14  Female    Yes   Sat  Dinner     2
73        25.28   5.00  Female    Yes   Sat  Dinner     2
74        14.73   2.20  Female     No   Sat  Dinner     2
75        10.51   1.25    Male     No   Sat  Dinner     2
76        17.92   3.08    Male    Yes   Sat  Dinner     2
77        27.20   4.00    Male     No  Thur   Lunch     4
78        22.76   3.00    Male     No  Thur   Lunch     2
79        17.29   2.71    Male     No  Thur   Lunch     2
80        19.44   3.00    Male    Yes  Thur   Lunch     2
81        16.66   3.40    Male     No  Thur   Lunch     2
82        10.07   1.83  Female     No  Thur   Lunch     1
83        32.68   5.00    Male    Yes  Thur   Lunch     2
84        15.98   2.03    Male     No  Thur   Lunch     2
85        34.83   5.17  Female     No  Thur   Lunch     4
86        13.03   2.00    Male     No  Thur   Lunch     2
87        18.28   4.00    Male     No  Thur   Lunch     2
88        24.71   5.85    Male     No  Thur   Lunch     2
89        21.16   3.00    Male     No  Thur   Lunch     2
90        28.97   3.00    Male    Yes   Fri  Dinner     2
91        22.49   3.50    Male     No   Fri  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
93        16.32   4.30  Female    Yes   Fri  Dinner     2
94        22.75   3.25  Female     No   Fri  Dinner     2
95        40.17   4.73    Male    Yes   Fri  Dinner     4
96        27.28   4.00    Male    Yes   Fri  Dinner     2
97        12.03   1.50    Male    Yes   Fri  Dinner     2
98        21.01   3.00    Male    Yes   Fri  Dinner     2
99        12.46   1.50    Male     No   Fri  Dinner     2
100       11.35   2.50  Female    Yes   Fri  Dinner     2
101       15.38   3.00  Female    Yes   Fri  Dinner     2
102       44.30   2.50  Female    Yes   Sat  Dinner     3
103       22.42   3.48  Female    Yes   Sat  Dinner     2
104       20.92   4.08  Female     No   Sat  Dinner     2
105       15.36   1.64    Male    Yes   Sat  Dinner     2
106       20.49   4.06    Male    Yes   Sat  Dinner     2
107       25.21   4.29    Male    Yes   Sat  Dinner     2
108       18.24   3.76    Male     No   Sat  Dinner     2
109       14.31   4.00  Female    Yes   Sat  Dinner     2
110       14.00   3.00    Male     No   Sat  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
112       38.07   4.00    Male     No   Sun  Dinner     3
113       23.95   2.55    Male     No   Sun  Dinner     2
114       25.71   4.00  Female     No   Sun  Dinner     3
115       17.31   3.50  Female     No   Sun  Dinner     2
116       29.93   5.07    Male     No   Sun  Dinner     4
117       10.65   1.50  Female     No  Thur   Lunch     2
118       12.43   1.80  Female     No  Thur   Lunch     2
119       24.08   2.92  Female     No  Thur   Lunch     4
120       11.69   2.31    Male     No  Thur   Lunch     2
121       13.42   1.68  Female     No  Thur   Lunch     2
122       14.26   2.50    Male     No  Thur   Lunch     2
123       15.95   2.00    Male     No  Thur   Lunch     2
124       12.48   2.52  Female     No  Thur   Lunch     2
125       29.80   4.20  Female     No  Thur   Lunch     6
126        8.52   1.48    Male     No  Thur   Lunch     2
127       14.52   2.00  Female     No  Thur   Lunch     2
128       11.38   2.00  Female     No  Thur   Lunch     2
129       22.82   2.18    Male     No  Thur   Lunch     3
130       19.08   1.50    Male     No  Thur   Lunch     2
131       20.27   2.83  Female     No  Thur   Lunch     2
132       11.17   1.50  Female     No  Thur   Lunch     2
133       12.26   2.00  Female     No  Thur   Lunch     2
134       18.26   3.25  Female     No  Thur   Lunch     2
135        8.51   1.25  Female     No  Thur   Lunch     2
136       10.33   2.00  Female     No  Thur   Lunch     2
137       14.15   2.00  Female     No  Thur   Lunch     2
138       16.00   2.00    Male    Yes  Thur   Lunch     2
139       13.16   2.75  Female     No  Thur   Lunch     2
140       17.47   3.50  Female     No  Thur   Lunch     2
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
144       16.43   2.30  Female     No  Thur   Lunch     2
145        8.35   1.50  Female     No  Thur   Lunch     2
146       18.64   1.36  Female     No  Thur   Lunch     3
147       11.87   1.63  Female     No  Thur   Lunch     2
148        9.78   1.73    Male     No  Thur   Lunch     2
149        7.51   2.00    Male     No  Thur   Lunch     2
150       14.07   2.50    Male     No   Sun  Dinner     2
151       13.13   2.00    Male     No   Sun  Dinner     2
152       17.26   2.74    Male     No   Sun  Dinner     3
153       24.55   2.00    Male     No   Sun  Dinner     4
154       19.77   2.00    Male     No   Sun  Dinner     4
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
157       25.00   3.75  Female     No   Sun  Dinner     4
158       13.39   2.61  Female     No   Sun  Dinner     2
159       16.49   2.00    Male     No   Sun  Dinner     4
160       21.50   3.50    Male     No   Sun  Dinner     4
161       12.66   2.50    Male     No   Sun  Dinner     2
162       16.21   2.00  Female     No   Sun  Dinner     3
163       13.81   2.00    Male     No   Sun  Dinner     2
164       17.51   3.00  Female    Yes   Sun  Dinner     2
165       24.52   3.48    Male     No   Sun  Dinner     3
166       20.76   2.24    Male     No   Sun  Dinner     2
167       31.71   4.50    Male     No   Sun  Dinner     4
168       10.59   1.61  Female    Yes   Sat  Dinner     2
169       10.63   2.00  Female    Yes   Sat  Dinner     2
170       50.81  10.00    Male    Yes   Sat  Dinner     3
171       15.81   3.16    Male    Yes   Sat  Dinner     2
172        7.25   5.15    Male    Yes   Sun  Dinner     2
173       31.85   3.18    Male    Yes   Sun  Dinner     2
174       16.82   4.00    Male    Yes   Sun  Dinner     2
175       32.90   3.11    Male    Yes   Sun  Dinner     2
176       17.89   2.00    Male    Yes   Sun  Dinner     2
177       14.48   2.00    Male    Yes   Sun  Dinner     2
178        9.60   4.00  Female    Yes   Sun  Dinner     2
179       34.63   3.55    Male    Yes   Sun  Dinner     2
180       34.65   3.68    Male    Yes   Sun  Dinner     4
181       23.33   5.65    Male    Yes   Sun  Dinner     2
182       45.35   3.50    Male    Yes   Sun  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
184       40.55   3.00    Male    Yes   Sun  Dinner     2
185       20.69   5.00    Male     No   Sun  Dinner     5
186       20.90   3.50  Female    Yes   Sun  Dinner     3
187       30.46   2.00    Male    Yes   Sun  Dinner     5
188       18.15   3.50  Female    Yes   Sun  Dinner     3
189       23.10   4.00    Male    Yes   Sun  Dinner     3
190       15.69   1.50    Male    Yes   Sun  Dinner     2
191       19.81   4.19  Female    Yes  Thur   Lunch     2
192       28.44   2.56    Male    Yes  Thur   Lunch     2
193       15.48   2.02    Male    Yes  Thur   Lunch     2
194       16.58   4.00    Male    Yes  Thur   Lunch     2
195        7.56   1.44    Male     No  Thur   Lunch     2
196       10.34   2.00    Male    Yes  Thur   Lunch     2
197       43.11   5.00  Female    Yes  Thur   Lunch     4
198       13.00   2.00  Female    Yes  Thur   Lunch     2
199       13.51   2.00    Male    Yes  Thur   Lunch     2
200       18.71   4.00    Male    Yes  Thur   Lunch     3
201       12.74   2.01  Female    Yes  Thur   Lunch     2
202       13.00   2.00  Female    Yes  Thur   Lunch     2
203       16.40   2.50  Female    Yes  Thur   Lunch     2
204       20.53   4.00    Male    Yes  Thur   Lunch     4
205       16.47   3.23  Female    Yes  Thur   Lunch     3
206       26.59   3.41    Male    Yes   Sat  Dinner     3
207       38.73   3.00    Male    Yes   Sat  Dinner     4
208       24.27   2.03    Male    Yes   Sat  Dinner     2
209       12.76   2.23  Female    Yes   Sat  Dinner     2
210       30.06   2.00    Male    Yes   Sat  Dinner     3
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
213       13.27   2.50  Female    Yes   Sat  Dinner     2
214       28.17   6.50  Female    Yes   Sat  Dinner     3
215       12.90   1.10  Female    Yes   Sat  Dinner     2
216       28.15   3.00    Male    Yes   Sat  Dinner     5
217       11.59   1.50    Male    Yes   Sat  Dinner     2
218        7.74   1.44    Male    Yes   Sat  Dinner     2
219       30.14   3.09  Female    Yes   Sat  Dinner     4
220       12.16   2.20    Male    Yes   Fri   Lunch     2
221       13.42   3.48  Female    Yes   Fri   Lunch     2
222        8.58   1.92    Male    Yes   Fri   Lunch     1
223       15.98   3.00  Female     No   Fri   Lunch     3
224       13.42   1.58    Male    Yes   Fri   Lunch     2
225       16.27   2.50  Female    Yes   Fri   Lunch     2
226       10.09   2.00  Female    Yes   Fri   Lunch     2
227       20.45   3.00    Male     No   Sat  Dinner     4
228       13.28   2.72    Male     No   Sat  Dinner     2
229       22.12   2.88  Female    Yes   Sat  Dinner     2
230       24.01   2.00    Male    Yes   Sat  Dinner     4
231       15.69   3.00    Male    Yes   Sat  Dinner     3
232       11.61   3.39    Male     No   Sat  Dinner     2
233       10.77   1.47    Male     No   Sat  Dinner     2
234       15.53   3.00    Male    Yes   Sat  Dinner     2
235       10.07   1.25    Male     No   Sat  Dinner     2
236       12.60   1.00    Male    Yes   Sat  Dinner     2
237       32.83   1.17    Male    Yes   Sat  Dinner     2
238       35.83   4.67  Female     No   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3
240       27.18   2.00  Female    Yes   Sat  Dinner     2
241       22.67   2.00    Male    Yes   Sat  Dinner     2
242       17.82   1.75    Male     No   Sat  Dinner     2
243       18.78   3.00  Female     No  Thur  Dinner     2

In [50]:
import opendatasets as od

dataset_url = "https://www.kaggle.com/datasets/danofer/law-school-admissions-bar-passage"

od.download(dataset_url, data_dir="./data", force=True)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading law-school-admissions-bar-passage.zip to ./data/law-school-admissions-bar-passage

100%|██████████| 494k/494k [00:00<00:00, 3.55MB/s]

## Importing from APIs

In [57]:
import requests
import pandas as pd

host= 'https://api.census.gov/data'
year= '2022'
dataset='cps/basic/apr'

url = "/".join([host, year, dataset])

predicates= {}
predicates["get"]= ",".join(["GEDIV","HRMIS","PENATVTY"])
predicates["for"] = "state:*"

response = requests.get(url, params=predicates)

census_data = pd.DataFrame.from_records(response.json()[1:], columns=response.json()[0])

census_data.head(5)

  GEDIV HRMIS PENATVTY state
0     8     8      303     4
1     8     8      303     4
2     8     8       57     4
3     8     8       57     4
4     7     2       57     5

In [61]:
import requests

HOST = "https://api.census.gov/data"
year = "2017"
dataset = "acs/acs5"
base_url = "/".join([HOST, year, dataset]) # JOIN the variables with a `/` separator https://api.census.gov/data/2022/cps/basic/apr

dataset_variables = ["NAME"]
predicates = {}
predicates["get"] = ",".join(dataset_variables)
predicates["for"] = "state:*"

r = requests.get(base_url, params=predicates)
states = pd.DataFrame.from_records(r.json()[1:], columns=r.json()[0])
states.head()

          NAME state
0  Mississippi    28
1     Missouri    29
2      Montana    30
3     Nebraska    31
4       Nevada    32

In [60]:
states[states["NAME"]== 'Ohio']

    NAME state
16  Ohio    39

In [62]:
full_census_data = pd.merge(census_data, states, on='state')
full_census_data.head()

  GEDIV HRMIS PENATVTY state      NAME
0     7     6       57    40  Oklahoma
1     7     6       57    40  Oklahoma
2     7     6       57    40  Oklahoma
3     7     6       57    40  Oklahoma
4     7     3       57    40  Oklahoma

In [65]:
full_census_data = full_census_data.drop(columns=['state'])
full_census_data.head()

  GEDIV HRMIS PENATVTY      NAME
0     7     6       57  Oklahoma
1     7     6       57  Oklahoma
2     7     6       57  Oklahoma
3     7     6       57  Oklahoma
4     7     3       57  Oklahoma

In [69]:
full_census_data = full_census_data.rename(columns={'NAME': 'STATE'})
full_census_data.head()

  GEDIV HRMIS PENATVTY     STATE
0     7     6       57  Oklahoma
1     7     6       57  Oklahoma
2     7     6       57  Oklahoma
3     7     6       57  Oklahoma
4     7     3       57  Oklahoma

## Another Example

In [73]:
import os
from dotenv import load_dotenv
import requests

load_dotenv(override=True)
rapid_api_key = os.getenv("RAPID_API_KEY")

url = "https://covid-19-statistics.p.rapidapi.com/reports"
request_params = {"region_province":"Ohio","iso":"USA","region_name":"US","q":"US Ohio","date":"2020-04-16"}

headers = {
	"X-RapidAPI-Key": rapid_api_key,
	"X-RapidAPI-Host": "covid-19-statistics.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=request_params)

# save json result into a pandas dataframe
covid_data = pd.DataFrame(response.json()["data"][0]["region"]["cities"])
covid_data.head()

,name,date,fips,lat,long,confirmed,deaths,confirmed_diff,deaths_diff,last_update
0,Adams,2020-04-16,39001,38.84541072,-83.4718964,3,0,0,0,2020-04-16 23:30:51
1,Allen,2020-04-16,39003,40.77285242,-84.10802343,57,6,6,2,2020-04-16 23:30:51
2,Ashland,2020-04-16,39005,40.84772277,-82.27280781,5,0,-1,0,2020-04-16 23:30:51
3,Ashtabula,2020-04-16,39007,41.70860332,-80.74830218,45,3,9,0,2020-04-16 23:30:51
4,Athens,2020-04-16,39009,39.33425634,-82.04278644,3,1,0,0,2020-04-16 23:30:51

## From SQL

In [74]:
from urllib.request import urlretrieve
from zipfile import ZipFile

file_handle, _ = urlretrieve('https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip')
zipfile = ZipFile(file_handle, 'r')
zipfile.extractall('./data')
zipfile.close();

In [83]:
from sqlalchemy import create_engine
import pandas as pd

connection_string = 'sqlite:///data/chinook.db'
engine = create_engine(connection_string)

db_connection = engine.connect()

genres_data = pd.read_sql(sql='SELECT * FROM genres;', con=db_connection)

genres_data

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

In [84]:
genres_data = pd.concat([
  genres_data,
  pd.DataFrame.from_records([{'GenreId': '26', 'Name': 'Arabic Pop'}])
], ignore_index= True)
genres_data

   GenreId                Name
0        1                Rock
1        2                Jazz
2        3               Metal
3        4  Alternative & Punk
4        5       Rock And Roll
5        6               Blues
6        7               Latin
7        8              Reggae
8        9                 Pop
9       10          Soundtrack
10      11          Bossa Nova
11      12      Easy Listening
12      13         Heavy Metal
13      14            R&B/Soul
14      15   Electronica/Dance
15      16               World
16      17         Hip Hop/Rap
17      18     Science Fiction
18      19            TV Shows
19      20    Sci Fi & Fantasy
20      21               Drama
21      22              Comedy
22      23         Alternative
23      24           Classical
24      25               Opera
25      26          Arabic Pop

In [85]:
genres_data.to_sql('genres', db_connection, if_exists='replace', index=False)

26

In [86]:
genres_data2 = pd.read_sql(sql='SELECT * FROM genres;', con=db_connection)

genres_data2

   GenreId                Name
0        1                Rock
1        2                Jazz
2        3               Metal
3        4  Alternative & Punk
4        5       Rock And Roll
5        6               Blues
6        7               Latin
7        8              Reggae
8        9                 Pop
9       10          Soundtrack
10      11          Bossa Nova
11      12      Easy Listening
12      13         Heavy Metal
13      14            R&B/Soul
14      15   Electronica/Dance
15      16               World
16      17         Hip Hop/Rap
17      18     Science Fiction
18      19            TV Shows
19      20    Sci Fi & Fantasy
20      21               Drama
21      22              Comedy
22      23         Alternative
23      24           Classical
24      25               Opera
25      26          Arabic Pop

## From Mongo DB

In [89]:
import os
from dotenv import load_dotenv
from pymongo import MongoClient
import pandas as pd

pd.set_option('display.max_columns', None)

load_dotenv(override=True)

mongo_user = os.getenv('MONGO_USERNAME')
mongo_password = os.getenv('MONGO_PASSWORD')
mongo_host= 'cluster0.9u8bdoy.mongodb.net'

mongo_uri="mongodb+srv://%s:%s@%s/?retryWrites=true&w=majority" % (mongo_user, mongo_password, mongo_host)

mongo_conn = MongoClient(mongo_uri)['sample_airbnb']

reviews = mongo_conn['listingsAndReviews'].find({
  'bedrooms': {"$lt": 3}
})

reviews_dataframe = pd.DataFrame(list(reviews))

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,interaction,house_rules,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,last_scraped,calendar_last_scraped,accommodates,bedrooms,beds,number_of_reviews,bathrooms,amenities,price,weekly_price,monthly_price,cleaning_fee,extra_people,guests_included,images,host,address,availability,review_scores,reviews,first_review,last_review,security_deposit,reviews_per_month
0,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"There´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",,"I´ll be happy to help you with any doubts, tip...",I just hope the guests treat the space as they...,Apartment,Entire home/apt,Real Bed,2,1125,flexible,2019-02-11 05:00:00,2019-02-11 05:00:00,4,1,2.0,0,1.0,"[Wifi, Wheelchair accessible, Kitchen, Free pa...",317.00,1492.00,4849.00,187.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1282196', 'host_url': 'https://ww...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaT,NaT,NaN,NaN
1,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Great studio located on Ala Moana across the s...,A short distance from Honolulu's billion dolla...,You can breath ocean as well as aloha.,,Honolulu does have a very good air conditioned...,"Pool, hot tub and tennis","We try our best at creating, simple responsive...",The general welfare and well being of all the ...,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2019-03-06 05:00:00,2019-03-06 05:00:00,2,1,1.0,96,1.0,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",115.00,650.00,2150.00,100.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '5448114', 'host_url': 'https://ww...","{'street': 'Honolulu, HI, United States', 'sub...","{'availability_30': 16, 'availability_60': 46,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '4765259', 'date': 2013-05-24 04:00:0...",2013-05-24 04:00:00,2019-02-07 05:00:00,NaN,NaN
2,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,,Here exists a very cozy room for rent in a sha...,,,,,,,Apartment,Private room,Real Bed,14,1125,flexible,2019-03-06 05:00:00,2019-03-06 05:00:00,1,1,1.0,1,1.5,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",40.00,NaN,NaN,NaN,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '11275734', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '61050713', 'date': 2016-01-31 05:00:...",2016-01-31 05:00:00,2016-01-31 05:00:00,NaN,NaN
3,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,,Quarto com vista para a Lagoa Rodrigo de Freit...,,,,,,,Apartment,Private room,Real Bed,1,1125,flexible,2019-02-11 05:00:00,2019-02-11 05:00:00,2,1,1.0,0,2.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",701.00,NaN,NaN,250.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51496939', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 28, 'availability_60': 58,...",{},[],NaT,NaT,1000.00,NaN
4,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,,"Murphy bed, optional second bedroom available....","Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"My cat, Samantha, are in and out during the su...","Conveniently located near 1, 2, 3, B & C subwa...",New York City!,,No smoking is permitted in the apartment. All ...,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2019-03-07 05:00:00,2019-03-07 05:00:00,2,1,1.0,70,1.0,"[Internet, Wifi, Air conditioning, Kitchen, El...",135.00,NaN,NaN,135.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '454250', 'host_url': 'https://www...","{'street': 'New York, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '4351675', 'date': 2013-04-29 04:00:0...",2013-04-29 04:00:00,2018-08-12 04:00:00,0.00,NaN

In [90]:
reviews_dataframe.head(10)

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,interaction,house_rules,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,last_scraped,calendar_last_scraped,accommodates,bedrooms,beds,number_of_reviews,bathrooms,amenities,price,weekly_price,monthly_price,cleaning_fee,extra_people,guests_included,images,host,address,availability,review_scores,reviews,first_review,last_review,security_deposit,reviews_per_month
0,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"There´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",,"I´ll be happy to help you with any doubts, tip...",I just hope the guests treat the space as they...,Apartment,Entire home/apt,Real Bed,2,1125,flexible,2019-02-11 05:00:00,2019-02-11 05:00:00,4,1,2.0,0,1.0,"[Wifi, Wheelchair accessible, Kitchen, Free pa...",317.00,1492.00,4849.00,187.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1282196', 'host_url': 'https://ww...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaT,NaT,NaN,NaN
1,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Great studio located on Ala Moana across the s...,A short distance from Honolulu's billion dolla...,You can breath ocean as well as aloha.,,Honolulu does have a very good air conditioned...,"Pool, hot tub and tennis","We try our best at creating, simple responsive...",The general welfare and well being of all the ...,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2019-03-06 05:00:00,2019-03-06 05:00:00,2,1,1.0,96,1.0,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",115.00,650.00,2150.00,100.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '5448114', 'host_url': 'https://ww...","{'street': 'Honolulu, HI, United States', 'sub...","{'availability_30': 16, 'availability_60': 46,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '4765259', 'date': 2013-05-24 04:00:0...",2013-05-24 04:00:00,2019-02-07 05:00:00,NaN,NaN
2,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,,Here exists a very cozy room for rent in a sha...,,,,,,,Apartment,Private room,Real Bed,14,1125,flexible,2019-03-06 05:00:00,2019-03-06 05:00:00,1,1,1.0,1,1.5,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",40.00,NaN,NaN,NaN,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '11275734', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '61050713', 'date': 2016-01-31 05:00:...",2016-01-31 05:00:00,2016-01-31 05:00:00,NaN,NaN
3,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,,Quarto com vista para a Lagoa Rodrigo de Freit...,,,,,,,Apartment,Private room,Real Bed,1,1125,flexible,2019-02-11 05:00:00,2019-02-11 05:00:00,2,1,1.0,0,2.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",701.00,NaN,NaN,250.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51496939', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 28, 'availability_60': 58,...",{},[],NaT,NaT,1000.00,NaN
4,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,,"Murphy bed, optional second bedroom available....","Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"My cat, Samantha, are in and out during the su...","Conveniently located near 1, 2, 3, B & C subwa...",New York City!,,No smoking is permitted in the apartment. All ...,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2019-03-07 05:00:00,2019-03-07 05:00:00,2,1,1.0,70,1.0,"[Internet, Wifi, Air conditioning, Kitchen, El...",135.00,NaN,NaN,135.00,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '454250', 'host_url': 'https://www...","{'street': 'New York, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '4351675', 'date': 2013-04-29 04:00:0...",2013-04-29 04:00:00,2018-08-12 04:00:00,0.00,NaN
5,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,"The Apartment has a living room, toilet, bedro...","The apartment has a living room, wash room, su...","The Apartment has a living room, toilet, bedro...",Copacabana in the South zone is the district t...,,On the street there is plenty of transport and...,todo o espaço.,Contact telephone numbers if needed: Valeria (...,Entreguem o imóvel conforme receberam e respei...,Apartment,Entire home/apt,Real Bed,3,75,strict_14_with_grace_period,2019-02-11 05:00:00,2019-02-11 05:00:00,4,1,3.0,70,2.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",119.00,NaN,NaN,150.00,40.00,3,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51530266', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 7, 'availability_60': 19, ...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '60037020', 'date': 2016-01-18 05:00:...",2016-01-18 05:00:00,2019-01-28 05:00:00,600.00,NaN
6,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,Fully furnished 3+1 flat decorated with vintag...,The apartment is composed of 1 big bedroom wit...,Fully furnished 3+1 flat decorated with vintag...,With its diversity Moda- Kadikoy is one of the...,,,,,"Be and feel like your own home, with total res...",House,Entire home/apt,Real Bed,2,1125,flexible,2019-02-18 05:00:00,2019-02-18 05:00:00,6,2,6.0,1,1.0,"[TV, Cable TV, Internet, Wifi, Kitchen, Free p...",527.00,NaN,NaN,211.00,211.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1241644', 'host_url': 'https://ww...","{'street': 'Kadıköy, İstanbul, Turkey', 'subur...","{'availability_30': 27, 'availability_60': 57,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '68162172', 'date': 2016-04-02 04:00:...",2016-04-02 04:00:00,2016-04-02 04:00:00,NaN,NaN
7,10051164,https://www.airbnb.com/rooms/10051164,Catete's Colonial Big Hause Room B,"Old floor, intirely reformed, destined to rece...",Este quarto está preparado para acomodar confo...,"Old floor, intirely reformed, destined to rece...","A Grande Morada situa-se no Bairro do Catete, ...",A casa possui um potencial incrível para receb...,Perto do metrô e várias linhas de ônibus. Aces...,O hóspedes poderão acessar espaços compartilha...,"Sou geógrafa, gosto de arte e cultura. Moro ne...",,House,Private room,Real Bed,2,1125,strict_14_with_grace_period,2019-02-11 05:00:00,2019-02-11 05:00:00,8,1,8.0,1,4.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",250.00,NaN,NaN,0.00,40.00,4,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51326285', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 10, 'availability_60': 10,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '61992538', 'date': 2016-02-10 05:00:...",2016-02-10 05:00:00,2016-02-10 05:00:00,0.00,NaN
8,10057447,https://www.airbnb.com/rooms/10057447,Modern Spacious 1 Bedroom Loft,"Prime location, amazing lighting and no annoyi...",Lot's of plants and lights. Really great mode...,"Prime location, amazing lighting and no annoyi...",,,,,,,Apartment,Entire home/apt,Real Bed,1,1125,flexible,2019-03-11 04:00:00,2019-03-11 04:00:00,4,1,2.0,0,1.0,"[Internet, Wifi, Kitchen, Heating, Family/kid ...",50.00,NaN,NaN,NaN,31.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51612949', 'host_url': 'https://w...","{'street': 'Montréal, Québec, Canada', 'suburb...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaT,NaT,NaN,NaN
9,10057826,https://www.airbnb.com/rooms/10057826,Deluxe Loft Suite,Loft Suite Deluxe @ Henry Norman Hotel Located...,This loft unit features a kitchenette and is f...,Loft Suite Deluxe @ Henry Norman Hotel Located...,Greenpoint is an artsy Brooklyn neighborhood f...,,,"Guest will have access to common terraces, lou...",,Guest must leave a copy of credit card with fr...,Apartment,Entire home/apt,Real Bed,3,1125,strict_14_with_grace_period,2019-03-07 05:00:00,2019-03-07 05:00:00,4,0,2.0,5,1.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",205.00,NaN,NaN,NaN,0.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47554473', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 30, 'availability_60': 31,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58665374', 'date': 2016-01-03 05:00:...",2016-01-03 05:00:00,2018-02-18 05:00:00,NaN,NaN

In [91]:
reviews_dataframe.describe()

,accommodates,bedrooms,beds,number_of_reviews,reviews_per_month
count,4894.000000,4894.000000,4883.000000,4894.000000,85.000000
mean,2.975889,1.121373,1.705918,28.239886,1.741176
std,1.608095,0.556239,1.057319,50.730294,1.551903
min,1.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,1.000000,1.000000,1.000000,1.000000
50%,2.000000,1.000000,1.000000,6.000000,1.000000
75%,4.000000,1.000000,2.000000,33.000000,2.000000
max,16.000000,2.000000,12.000000,533.000000,10.000000

## Via Web Scrapping

In [103]:
import requests
from bs4 import BeautifulSoup

url = 'https://en.wikipedia.org/wiki/Wealth_distribution_by_country'
page = requests.get(url)

soup = BeautifulSoup(page.content,'html.parser')

In [104]:
tables = soup.find_all('table')

wealth_df = pd.read_html(str(tables[0]))[0]
wealth_df.head()

,nation,percent of world population,share of adult population,Net worth per capita (PPP),Net worth per capita (exchange rates),Percent of world net worth (PPP),Percent of world net worth (exchange rates),Real GDP per capita (PPP),Real GDP per capita (exchange rates),Percent of world GDP (PPP),Percent of world GDP (exchange rates)
0,USA,4.67,71.39,143727.0,143727.0,25.4,32.65,35619.0,35619.0,21.97,31.49
1,Canada,0.50,74.18,89252.0,70916.0,1.7,1.74,28731.0,22828.0,1.91,2.18
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,total,5.17,NaN,NaN,NaN,27.1,34.39,NaN,NaN,23.88,33.67

In [105]:
wealth_df = wealth_df[:-2]
wealth_df

,nation,percent of world population,share of adult population,Net worth per capita (PPP),Net worth per capita (exchange rates),Percent of world net worth (PPP),Percent of world net worth (exchange rates),Real GDP per capita (PPP),Real GDP per capita (exchange rates),Percent of world GDP (PPP),Percent of world GDP (exchange rates)
0,USA,4.67,71.39,143727.0,143727.0,25.4,32.65,35619.0,35619.0,21.97,31.49
1,Canada,0.50,74.18,89252.0,70916.0,1.7,1.74,28731.0,22828.0,1.91,2.18

In [106]:
len(tables)

8

In [107]:
for i in range(1, len(tables)):
  wealth_df = pd.concat([wealth_df, pd.read_html(str(tables[i]))[0]], ignore_index=True)
  wealth_df = wealth_df[:-2]

wealth_df

,nation,percent of world population,share of adult population,Net worth per capita (PPP),Net worth per capita (exchange rates),Percent of world net worth (PPP),Percent of world net worth (exchange rates),Real GDP per capita (PPP),Real GDP per capita (exchange rates),Percent of world GDP (PPP),Percent of world GDP (exchange rates),rank,nation.1,percent of world population.1
0,USA,4.67,71.39,143727.0,143727.0,25.40,32.65,35619.0,35619.0,21.97,31.49,NaN,NaN,NaN
1,Canada,0.50,74.18,89252.0,70916.0,1.70,1.74,28731.0,22828.0,1.91,2.18,NaN,NaN,NaN
2,Argentina,0.61,63.17,38481.0,25410.0,0.88,0.75,11729,7745,0.94,0.89,NaN,NaN,NaN
3,Bahamas,0.00,60.87,76364.0,53813.0,0.01,0.01,16793,14217,0.01,0.01,NaN,NaN,NaN
4,Barbados,0.00,71.27,103787.0,58121.0,0.02,0.01,17526,9815,0.01,0.01,NaN,NaN,NaN
5,Belize,0.00,49.27,12318.0,5851.0,0.00,0.00,7170,3406,0.00,0.00,NaN,NaN,NaN
6,Bermuda,0.00,71.66,138417.0,136630.0,0.01,0.01,na,42533,na,0.01,NaN,NaN,NaN
7,Bolivia,0.14,50.15,7215.0,2450.0,0.04,0.02,2934,996,0.05,0.03,NaN,NaN,NaN
8,Brazil,2.86,59.94,21092.0,9566.0,2.28,1.33,7745,3512,2.92,1.9,NaN,NaN,NaN
9,Chile,0.25,63.65,30760.0,13722.0,0.29,0.17,10389,4635,0.35,0.22,NaN,NaN,NaN
10,Colombia,0.69,57.45,14291.0,4730.0,0.37,0.16,5796,1918,0.53,0.25,NaN,NaN,NaN
11,Costa Rica,0.06,58.13,14973.0,10615.0,0.04,0.03,5873,4164,0.05,0.05,NaN,NaN,NaN
12,Cuba,0.18,72.09,12086.0,4587.0,0.08,0.04,na,2467,na,0.09,NaN,NaN,NaN
13,Dominican Republic,0.14,53.99,13729.0,5713.0,0.07,0.04,5654,2352,0.1,0.06,NaN,NaN,NaN
14,Ecuador,0.20,55.01,6911.0,1996.0,0.05,0.02,3720,1074,0.1,0.04,NaN,NaN,NaN
15,El Salvador,0.10,53.95,18893.0,8632.0,0.07,0.04,4622,2112,0.06,0.04,NaN,NaN,NaN
16,Guadeloupe,0.01,67.10,76364.0,53813.0,0.02,0.02,na,10030,na,0.01,NaN,NaN,NaN
17,Guatemala,0.18,44.65,12769.0,4934.0,0.09,0.04,4335,1675,0.11,0.06,NaN,NaN,NaN
18,Haiti,0.13,47.17,6221.0,1611.0,0.03,0.01,1798,466,0.03,0.01,NaN,NaN,NaN
19,Honduras,0.11,47.09,5523.0,2356.0,0.02,0.01,2164,923,0.03,0.02,NaN,NaN,NaN
20,Jamaica,0.04,57.20,10416.0,8562.0,0.02,0.02,3464,2848,0.02,0.02,NaN,NaN,NaN
21,Mexico,1.64,56.08,21493.0,13070.0,1.34,1.05,9711,5905,2.11,1.84,NaN,NaN,NaN
22,Nicaragua,0.08,45.96,5138.0,1248.0,0.02,0.00,1947,473,0.02,0.01,NaN,NaN,NaN
23,Panama,0.05,58.67,15677.0,8152.0,0.03,0.02,6650,3458,0.04,0.03,NaN,NaN,NaN
24,Paraguay,0.09,49.41,11101.0,3163.0,0.04,0.01,4801,1368,0.06,0.02,NaN,NaN,NaN
25,Peru,0.43,55.29,12234.0,5328.0,0.20,0.11,4799,2090,0.27,0.17,NaN,NaN,NaN
26,Puerto Rico,0.06,68.03,75582.0,54362.0,0.18,0.17,22242,15998,0.19,0.19,NaN,NaN,NaN
27,Trinidad and Tobago,0.02,63.60,53429.0,23408.0,0.04,0.02,13721,6011,0.04,0.02,NaN,NaN,NaN
28,Uruguay,0.05,67.60,20207.0,11807.0,0.04,0.03,10285,6009,0.07,0.06,NaN,NaN,NaN
29,US Virgin Islands,0.00,65.59,76364.0,53813.0,0.01,0.00,na,na,na,na,NaN,NaN,NaN
30,Venezuela,0.40,56.14,14629.0,10101.0,0.22,0.20,7232,4994,0.38,0.38,NaN,NaN,NaN
31,Albania,0.05,60.44,10504.0,3155.0,0.02,0.01,3658,1099,0.02,0.01,NaN,NaN,NaN
32,Austria,0.13,77.46,66639.0,62420.0,0.34,0.40,24836,23264,0.44,0.59,NaN,NaN,NaN
33,Belarus,0.16,73.14,14591.0,1698.0,0.09,0.01,8738,1017,0.19,0.03,NaN,NaN,NaN
34,Belgium,0.17,76.63,85818.0,76577.0,0.55,0.63,25008,22315,0.56,0.72,NaN,NaN,NaN
35,Bosnia and Herzegovina,0.06,73.92,12131.0,2457.0,0.03,0.01,5252,1117,0.04,0.01,NaN,NaN,NaN
36,Bulgaria,0.13,77.43,15356.0,3544.0,0.08,0.02,6356,1467,0.11,0.04,NaN,NaN,NaN
37,Croatia,0.07,76.12,22439.0,10221.0,0.06,0.04,9547,4349,0.09,0.06,NaN,NaN,NaN
38,Czech Republic,0.17,76.84,32431.0,10797.0,0.21,0.09,14844,4942,0.33,0.16,NaN,NaN,NaN
39,Denmark,0.09,76.26,66191.0,70751.0,0.22,0.30,28539,30505,0.33,0.51,NaN,NaN,NaN
40,Estonia,0.02,74.36,26361.0,8420.0,0.02,0.01,10873,3473,0.03,0.01,NaN,NaN,NaN
41,Finland,0.09,75.44,38754.0,37171.0,0.12,0.15,24416,23419,0.27,0.38,NaN,NaN,NaN
42,France,0.97,74.83,130546.0,128327.0,4.73,5.97,24478,24679,3.10,4.40,NaN,NaN,NaN
43,Georgia,0.08,70.47,12315.0,1371.0,0.04,0.01,5315,592,0.05,0.01,NaN,NaN,NaN
44,Germany,1.35,78.71,89871.0,86369.0,4.60,5.69,23917,22758,4.28,5.83,NaN,NaN,NaN
45,Gibraltar,0.00,77.20,99526.0,90277.0,0.00,0.00,na,na,na,na,NaN,NaN,NaN
46,Greece,0.18,78.07,72825.0,50240.0,0.50,0.44,15558,10733,0.37,0.37,NaN,NaN,NaN
47,Greenland,0.00,71.66,138417.0,136630.0,0.00,0.01,na,na,na,na,NaN,NaN,NaN
48,Hungary,0.17,76.61,32456.0,13562.0,0.21,0.11,11063,4623,0.25,0.15,NaN,NaN,NaN
49,Iceland,0.00,69.12,73401.0,83031.0,0.01,0.02,26929,30461,0.02,0.03,NaN,NaN,NaN
50,Ireland,0.06,69.59,89327.0,82555.0,0.21,0.25,27197,25135,0.22,0.30,NaN,NaN,NaN
51,Italy,0.95,80.42,119704.0,98317.0,4.30,4.54,22876,18604,2.87,3.34,NaN,NaN,NaN
52,Latvia,0.04,74.57,19162.0,6951.0,0.03,0.01,8305,3013,0.04,0.02,NaN,NaN,NaN
53,Liechtenstein,0.00,77.20,99526.0,90277.0,0.00,0.00,na,na,na,na,NaN,NaN,NaN
54,Lithuania,0.06,72.80,22126.0,8076.0,0.05,0.02,8397,3065,0.06,0.03,NaN,NaN,NaN
55,Luxembourg,0.01,75.42,182567.0,160030.0,0.05,0.06,48968,42923,0.05,0.06,NaN,NaN,NaN
56,Macedonia,0.03,69.59,14606.0,4652.0,0.02,0.01,5506,1754,0.02,0.01,NaN,NaN,NaN
57,Malta,0.01,72.46,75694.0,40471.0,0.02,0.01,18526,9761,0.02,0.01,NaN,NaN,NaN
58,Moldova,0.07,67.70,8498.0,1155.0,0.02,0.00,2212,301,0.02,0.00,NaN,NaN,NaN
59,Monaco,0.00,77.20,99526.0,90277.0,0.00,0.00,na,22065,na,0.00,NaN,NaN,NaN
60,Netherlands,0.26,75.77,120086.0,109418.0,1.19,1.39,25759,23261,0.89,1.15,NaN,NaN,NaN
61,Netherlands Antilles,0.00,67.98,76364.0,53813.0,0.01,0.01,na,12862,na,0.01,NaN,NaN,NaN
62,Norway,0.07,74.12,72254.0,81188.0,0.20,0.29,32057,36021,0.31,0.50,NaN,NaN,NaN
63,Poland,0.64,72.08,24654.0,10438.0,0.59,0.32,9661,4090,0.81,0.49,NaN,NaN,NaN
64,Portugal,0.17,77.05,53357.0,33421.0,0.34,0.27,17089,10614,0.38,0.34,NaN,NaN,NaN
65,Romania,0.36,74.29,14827.0,4821.0,0.20,0.09,5024,1634,0.24,0.11,NaN,NaN,NaN
66,Saint-Pierre et Miquelon,0.00,71.67,138417.0,136630.0,0.00,0.00,na,na,na,na,NaN,NaN,NaN
67,Serbia and Montenegro,0.17,72.30,12131.0,2457.0,0.08,0.02,na,1043,na,0.03,NaN,NaN,NaN
68,Slovakia,0.09,72.22,23968.0,6779.0,0.08,0.03,12619,3569,0.15,0.06,NaN,NaN,NaN
69,Slovenia,0.03,77.35,36672.0,19713.0,0.04,0.03,16983,9130,0.07,0.06,NaN,NaN,NaN
70,Spain,0.67,79.00,92253.0,68693.0,2.34,2.24,19037,14048,1.68,1.78,NaN,NaN,NaN
71,Sweden,0.15,75.87,80091.0,83918.0,0.44,0.60,24628,25805,0.47,0.71,NaN,NaN,NaN
72,Switzerland,0.12,76.69,144186.0,170755.0,0.64,0.98,28209,33407,0.44,0.74,NaN,NaN,NaN
73,UK,0.96,74.78,128959.0,126832.0,4.71,5.95,24252,23852,3.09,4.35,NaN,NaN,NaN
74,Ukraine,0.81,74.46,9890.0,1236.0,0.30,0.05,5147,643,0.55,0.10,NaN,NaN,NaN
75,Vatican,0.00,77.20,99526.0,90277.0,0.00,0.00,na,na,na,na,NaN,NaN,NaN
76,Algeria,0.50,53.68,7270.0,2087.0,0.14,0.05,6107,1754.0,0.40,0.17,NaN,NaN,NaN
77,Benin,0.12,43.24,3370.0,950.0,0.02,0.01,1225,345.0,0.02,0.01,NaN,NaN,NaN
78,Burkina Faso,0.19,40.66,2123.0,419.0,0.01,0.00,986,195.0,0.02,0.01,NaN,NaN,NaN
79,Burundi,0.11,40.20,1876.0,327.0,0.01,0.00,619,108.0,0.01,0.0,NaN,NaN,NaN
80,Cameroon,0.24,45.90,5272.0,1262.0,0.05,0.01,2301,551.0,0.07,0.03,NaN,NaN,NaN
81,Chad,0.13,42.61,1728.0,329.0,0.01,0.00,959,183.0,0.02,0.0,NaN,NaN,NaN
82,"Congo, Democratic Republic",0.82,42.06,1402.0,180.0,0.04,0.01,669,86.0,0.07,0.01,NaN,NaN,NaN
83,"Congo, Republic",0.06,42.69,2795.0,1127.0,0.01,0.00,2533,1022.0,0.02,0.01,NaN,NaN,NaN
84,Côte d'Ivoire,0.27,44.99,5502.0,1589.0,0.06,0.02,2028,586.0,0.07,0.03,NaN,NaN,NaN
85,Eritrea,0.06,43.66,2349.0,577.0,0.01,0.00,747,203.0,0.01,0.0,NaN,NaN,NaN
86,Ethiopia,1.13,43.81,1414.0,193.0,0.06,0.01,720,98.0,0.11,0.02,NaN,NaN,NaN
87,Ghana,0.33,47.41,4129.0,775.0,0.05,0.01,1376,258.0,0.06,0.02,NaN,NaN,NaN
88,Guinea,0.14,45.96,7734.0,1062.0,0.04,0.01,2961,407.0,0.05,0.01,NaN,NaN,NaN
89,Guinea-Bissau,0.02,43.09,1673.0,409.0,0.00,0.00,738,180.0,0.00,0.0,NaN,NaN,NaN
90,Kenya,0.50,43.69,3671.0,966.0,0.07,0.02,1316,346.0,0.09,0.03,NaN,NaN,NaN
91,Libya,0.09,53.97,17339.0,6285.0,0.06,0.03,na,6484.0,na,0.11,NaN,NaN,NaN
92,Madagascar,0.27,44.83,2223.0,633.0,0.02,0.01,877,249.0,0.03,0.01,NaN,NaN,NaN
93,Malawi,0.19,43.17,2683.0,546.0,0.02,0.01,808,165.0,0.02,0.01,NaN,NaN,NaN
94,Mali,0.19,40.28,1798.0,383.0,0.01,0.00,996,212.0,0.03,0.01,NaN,NaN,NaN
95,Mauritania,0.04,46.31,5207.0,1231.0,0.01,0.00,1729,409.0,0.01,0.0,NaN,NaN,NaN
96,Mauritius,0.02,65.70,62338.0,15983.0,0.05,0.02,14406,3693.0,0.04,0.01,NaN,NaN,NaN
97,Morocco,0.48,55.31,13603.0,3687.0,0.25,0.09,4299,1165.0,0.27,0.11,NaN,NaN,NaN
98,Mozambique,0.29,45.16,2817.0,545.0,0.03,0.01,1113,215.0,0.04,0.01,NaN,NaN,NaN
99,Niger,0.19,40.39,1756.0,329.0,0.01,0.00,902,169.0,0.02,0.01,NaN,NaN,NaN
100,Nigeria,1.93,43.73,960.0,377.0,0.07,0.04,826,325.0,0.21,0.12,NaN,NaN,NaN
101,Rwanda,0.13,40.50,2951.0,638.0,0.01,0.00,976,211.0,0.02,0.01,NaN,NaN,NaN
102,Reunion,0.01,62.67,17339.0,6285.0,0.01,0.00,na,9014.0,na,0.02,NaN,NaN,NaN
103,Senegal,0.17,43.96,4294.0,1172.0,0.03,0.01,1681,459.0,0.04,0.01,NaN,NaN,NaN
104,Sierra Leone,0.07,47.38,2044.0,353.0,0.01,0.00,734,127.0,0.01,0.0,NaN,NaN,NaN
105,Somalia,0.12,45.76,2349.0,577.0,0.01,0.00,na,235.0,na,0.01,NaN,NaN,NaN
106,South Africa,0.75,55.86,16266.0,5977.0,0.46,0.22,8017,2946.0,0.79,0.42,NaN,NaN,NaN
107,Sudan,0.54,48.64,2349.0,577.0,0.05,0.02,1756,367.0,0.13,0.04,NaN,NaN,NaN
108,Swaziland,0.02,43.42,13239.0,3377.0,0.01,0.00,5047,1287.0,0.01,0.0,NaN,NaN,NaN
109,Tanzania,0.57,44.79,1246.0,681.0,0.03,0.02,490,268.0,0.04,0.03,NaN,NaN,NaN
110,Togo,0.09,44.35,2214.0,645.0,0.01,0.00,926,270.0,0.01,0.0,NaN,NaN,NaN
111,Tunisia,0.16,58.95,21237.0,6042.0,0.13,0.05,7130,2029.0,0.15,0.06,NaN,NaN,NaN
112,Uganda,0.40,38.55,2905.0,725.0,0.04,0.01,1030,257.0,0.05,0.02,NaN,NaN,NaN
113,Zambia,0.18,42.20,2121.0,789.0,0.01,0.01,841,313.0,0.02,0.01,NaN,NaN,NaN
114,Zimbabwe,0.21,44.71,6863.0,1465.0,0.05,0.01,2607,556.0,0.07,0.02,NaN,NaN,NaN
115,Afghanistan,0.39,42.90,6561.0,1164.0,0.10,0.02,na,101,na,0.01,NaN,NaN,NaN
116,Armenia,0.05,64.44,9545.0,1548.0,0.02,0.00,3068,498,0.02,0.00,NaN,NaN,NaN
117,Azerbaijan,0.13,59.14,6717.0,1237.0,0.03,0.01,3555,654,0.06,0.02,NaN,NaN,NaN
118,Bahrain,0.01,63.93,105287.0,130833.0,0.04,0.07,15870,11775,0.02,0.02,NaN,NaN,NaN
119,Egypt,1.11,52.83,16650.0,5754.0,0.70,0.31,4406,1523,0.64,0.32,NaN,NaN,NaN
120,Iran,1.09,51.31,17569.0,11621.0,0.73,0.62,7202,4764,1.04,0.98,NaN,NaN,NaN
121,Iraq,0.41,46.70,12343.0,3480.0,0.19,0.07,na,766,na,0.06,NaN,NaN,NaN
122,Israel,0.10,17.29,64034.0,59207.0,0.88,1.05,19148,17705,0.92,1.22,NaN,NaN,NaN
123,Jordan,0.08,49.76,12217.0,4825.0,0.04,0.02,4282,1691,0.05,0.03,NaN,NaN,NaN
124,Kazakhstan,0.25,63.24,14281.0,2119.0,0.13,0.03,8331,1236,0.27,0.06,NaN,NaN,NaN
125,Kuwait,0.04,66.88,105287.0,130833.0,0.15,0.23,15743,15947,0.08,0.11,NaN,NaN,NaN
126,Kyrgyzstan,0.08,54.64,5174.0,433.0,0.02,0.00,3205,268,0.03,0.00,NaN,NaN,NaN
127,Lebanon,0.06,59.56,20526.0,12828.0,0.04,0.03,6089,3806,0.04,0.04,NaN,NaN,NaN
128,Oman,0.04,53.26,18943.0,11130.0,0.03,0.02,12491,7615,0.07,0.06,NaN,NaN,NaN
129,Pakistan,2.34,47.65,6296.0,1255.0,0.56,0.14,2158,430,0.67,0.19,NaN,NaN,NaN
130,Palestinian Territory,0.05,43.37,12343.0,3480.0,0.02,0.01,na,na,na,na,NaN,NaN,NaN
131,Qatar,0.01,67.09,105287.0,130833.0,0.04,0.06,na,30558,na,0.06,NaN,NaN,NaN
132,Saudi Arabia,0.35,51.16,22864.0,16206.0,0.31,0.28,12374,8771,0.58,0.59,NaN,NaN,NaN
133,Syria,0.28,47.11,8789.0,10046.0,0.09,0.14,4338,4958,0.16,0.26,NaN,NaN,NaN
134,Tajikistan,0.10,46.54,2942.0,298.0,0.01,0.00,1380,140,0.02,0.00,NaN,NaN,NaN
135,Turkey,1.12,59.20,23798.0,9601.0,1.01,0.52,7414,2991,1.10,0.63,NaN,NaN,NaN
136,Turkmenistan,0.07,53.14,12343.0,3480.0,0.03,0.01,3668,1062,0.04,0.01,NaN,NaN,NaN
137,United Arab Emirates,0.05,68.76,105287.0,130833.0,0.21,0.34,na,18906,na,0.19,NaN,NaN,NaN
138,Uzbekistan,0.41,51.83,6561.0,1164.0,0.10,0.02,1516,552,0.08,0.04,NaN,NaN,NaN
139,Yemen,0.29,40.19,1425.0,537.0,0.02,0.01,1293,487,0.05,0.03,NaN,NaN,NaN
140,Bangladesh,2.12,51.57,6389.0,1250.0,0.51,0.13,1772,347,0.50,0.14,NaN,NaN,NaN
141,Brunei Darussalam,0.01,60.06,105287.0,130833.0,0.02,0.03,na,12922,na,0.01,NaN,NaN,NaN
142,China,20.57,67.27,11267.0,2613.0,8.77,2.62,3844,891,10.45,3.47,NaN,NaN,NaN
143,Hong Kong (China SAR),0.11,76.61,202189.0,173353.0,0.83,0.92,27893,23915,0.40,0.49,NaN,NaN,NaN
144,Macao (China SAR),0.10,5.09,73072.0,44794.0,0.28,0.22,23118,14172,0.31,0.27,NaN,NaN,NaN
145,Taiwan,0.01,3489.19,100009.0,73654.0,0.03,0.03,19714,14519,0.02,0.02,NaN,NaN,NaN
146,Cambodia,0.21,45.88,4883.0,753.0,0.04,0.01,1859,287,0.05,0.01,NaN,NaN,NaN
147,India,16.78,55.88,6513.0,1112.0,4.14,0.91,2684,458,5.95,1.45,NaN,NaN,NaN
148,Indonesia,3.44,59.49,7973.0,1440.0,1.04,0.24,4035,729,1.83,0.47,NaN,NaN,NaN
149,Japan,2.09,79.45,124858.0,180837.0,9.86,18.37,25924,37547,7.15,14.84,NaN,NaN,NaN
150,Kiribati,0.00,52.86,10084.0,4153.0,0.00,0.00,na,574,na,0.00,NaN,NaN,NaN
151,"Korea, North",0.36,65.41,6561.0,1164.0,0.09,0.02,na,476,na,0.03,NaN,NaN,NaN
152,"Korea, South",0.77,71.06,45849.0,29687.0,1.33,1.11,14937,9671,1.52,1.41,NaN,NaN,NaN
153,Laos,0.09,46.75,6561.0,1164.0,0.02,0.00,1551,328,0.02,0.01,NaN,NaN,NaN
154,Malaysia,0.38,56.28,15046.0,6137.0,0.22,0.11,9422,3843,0.47,0.27,NaN,NaN,NaN
155,Myanmar,0.78,57.18,6561.0,1164.0,0.19,0.04,na,877,na,0.13,NaN,NaN,NaN
156,Nepal,0.40,48.53,6561.0,1164.0,0.10,0.02,1321,227,0.07,0.02,NaN,NaN,NaN
157,Niue,0.00,52.85,10084.0,4153.0,0.00,0.00,na,na,na,na,NaN,NaN,NaN
158,Philippines,1.25,51.75,14182.0,3533.0,0.67,0.21,4065,1013,0.67,0.24,NaN,NaN,NaN
159,Singapore,0.07,71.94,113631.0,90960.0,0.28,0.29,28644,22929,0.25,0.29,NaN,NaN,NaN
160,Sri Lanka,0.33,63.93,10617.0,2329.0,0.13,0.04,3841,842,0.17,0.05,NaN,NaN,NaN
161,Thailand,1.01,65.37,14824.0,4390.0,0.57,0.22,6715,1989,0.90,0.38,NaN,NaN,NaN
162,Timor-Leste,0.01,42.02,6561.0,1164.0,0.00,0.00,na,457,na,0.00,NaN,NaN,NaN
163,Vietnam,1.29,55.96,5633.0,1112.0,0.28,0.07,2012,397,0.34,0.10,NaN,NaN,NaN
164,Australia,0.31,71.78,90906.0,67990.0,1.08,1.04,27193.0,20338.0,1.13,1.21,NaN,NaN,NaN
165,New Zealand,0.06,70.14,55823.0,37026.0,0.13,0.11,20008.0,13271.0,0.17,0.16,NaN,NaN,NaN
166,Israel,0.10,17.29,64034.0,59207.0,0.88,1.05,19148.0,17705.0,0.92,1.22,NaN,NaN,NaN
167,Russian Federation,2.41,73.34,17610.0,3036.0,1.61,0.36,9996.0,1723.0,3.18,0.79,NaN,NaN,NaN
168,World,98.52,NaN,26202.0,20372.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,World,99.53
169,Hong Kong,0.11,NaN,202189.0,180837,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Japan,2.09
170,Luxembourg,0.01,NaN,182567.0,173353,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Hong Kong,0.11
171,Switzerland,0.12,NaN,144186.0,170755,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Switzerland,0.12
172,USA,4.67,NaN,143727.0,160030,NaN,NaN,NaN,NaN,NaN,NaN,4.0,Luxembourg,0.01
173,UK,0.96,NaN,128959.0,143727,NaN,NaN,NaN,NaN,NaN,NaN,5.0,USA,4.67
174,Japan,2.09,NaN,124858.0,130833,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Qatar,0.01
175,Netherlands,0.26,NaN,120086.0,130833,NaN,NaN,NaN,NaN,NaN,NaN,7.0,Bahrain,0.01
176,Italy,0.95,NaN,119704.0,130833,NaN,NaN,NaN,NaN,NaN,NaN,8.0,United Arab Emirates,0.05
177,Singapore,0.07,NaN,113631.0,130833,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Brunei Darussalam,0.01
178,Brunei Darussalam,0.01,NaN,105287.0,130833,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Kuwait,0.04
179,United Arab Emirates,0.05,NaN,105287.0,126832,NaN,NaN,NaN,NaN,NaN,NaN,11.0,UK,0.96
180,Bahrain,0.01,NaN,105287.0,109418,NaN,NaN,NaN,NaN,NaN,NaN,12.0,Netherlands,0.26
181,Kuwait,0.04,NaN,105287.0,98317,NaN,NaN,NaN,NaN,NaN,NaN,13.0,Italy,0.95
182,Qatar,0.01,NaN,105287.0,90960,NaN,NaN,NaN,NaN,NaN,NaN,14.0,Singapore,0.07
183,Taiwan,0.01,NaN,100009.0,90277,NaN,NaN,NaN,NaN,NaN,NaN,15.0,Cyprus,0.01
184,Cyprus,0.01,NaN,99526.0,86369,NaN,NaN,NaN,NaN,NaN,NaN,16.0,Germany,1.35
185,France,0.97,NaN,93729.0,85794,NaN,NaN,NaN,NaN,NaN,NaN,17.0,France,0.97
186,Spain,0.67,NaN,92253.0,83918,NaN,NaN,NaN,NaN,NaN,NaN,18.0,Sweden,0.15
187,Australia,0.31,NaN,90906.0,82555,NaN,NaN,NaN,NaN,NaN,NaN,19.0,Ireland,0.06
188,Germany,1.35,NaN,89871.0,81188,NaN,NaN,NaN,NaN,NaN,NaN,20.0,Norway,0.07
189,Ireland,0.06,NaN,89327.0,76577,NaN,NaN,NaN,NaN,NaN,NaN,21.0,Belgium,0.17
190,Canada,0.50,NaN,89252.0,73654,NaN,NaN,NaN,NaN,NaN,NaN,22.0,Taiwan,0.01
191,Belgium,0.17,NaN,85818.0,70916,NaN,NaN,NaN,NaN,NaN,NaN,23.0,Canada,0.5
192,Sweden,0.15,NaN,80091.0,70751,NaN,NaN,NaN,NaN,NaN,NaN,24.0,Denmark,0.09
193,Guadeloupe,0.01,NaN,76364.0,68693,NaN,NaN,NaN,NaN,NaN,NaN,25.0,Spain,0.67
194,Martinique,0.01,NaN,76364.0,67990,NaN,NaN,NaN,NaN,NaN,NaN,26.0,Australia,0.31
195,Malta,0.01,NaN,75694.0,62420,NaN,NaN,NaN,NaN,NaN,NaN,27.0,Austria,0.13
196,Puerto Rico,0.06,NaN,75582.0,59207,NaN,NaN,NaN,NaN,NaN,NaN,28.0,Israel,0.1
197,Macao,0.10,NaN,73072.0,54362,NaN,NaN,NaN,NaN,NaN,NaN,29.0,Puerto Rico,0.06
198,Greece,0.18,NaN,72825.0,53813,NaN,NaN,NaN,NaN,NaN,NaN,30.0,Martinique,0.01
199,Norway,0.07,NaN,72254.0,53813,NaN,NaN,NaN,NaN,NaN,NaN,31.0,Guadeloupe,0.01
200,Austria,0.13,NaN,66639.0,50240,NaN,NaN,NaN,NaN,NaN,NaN,32.0,Greece,0.18
201,Denmark,0.09,NaN,66191.0,44794,NaN,NaN,NaN,NaN,NaN,NaN,33.0,Macao,0.1
202,Israel,0.10,NaN,64034.0,40471,NaN,NaN,NaN,NaN,NaN,NaN,34.0,Malta,0.01
203,Mauritius,0.02,NaN,62338.0,37171,NaN,NaN,NaN,NaN,NaN,NaN,35.0,Finland,0.09
204,New Zealand,0.06,NaN,55823.0,37026,NaN,NaN,NaN,NaN,NaN,NaN,36.0,New Zealand,0.06
205,Trinidad and Tobago,0.02,NaN,53429.0,33421,NaN,NaN,NaN,NaN,NaN,NaN,37.0,Portugal,0.17
206,Portugal,0.17,NaN,53357.0,29687,NaN,NaN,NaN,NaN,NaN,NaN,38.0,"Korea, South",0.77
207,"Korea, South",0.77,NaN,45849.0,25410,NaN,NaN,NaN,NaN,NaN,NaN,39.0,Argentina,0.61
208,Finland,0.09,NaN,38754.0,23408,NaN,NaN,NaN,NaN,NaN,NaN,40.0,Trinidad and Tobago,0.02
209,Argentina,0.61,NaN,38481.0,19713,NaN,NaN,NaN,NaN,NaN,NaN,41.0,Slovenia,0.03
210,Slovenia,0.03,NaN,36672.0,16206,NaN,NaN,NaN,NaN,NaN,NaN,42.0,Saudi Arabia,0.35
211,Hungary,0.17,NaN,32456.0,15983,NaN,NaN,NaN,NaN,NaN,NaN,43.0,Mauritius,0.02
212,Czech Republic,0.17,NaN,32431.0,13722,NaN,NaN,NaN,NaN,NaN,NaN,44.0,Chile,0.25
213,Chile,0.25,NaN,30760.0,13562,NaN,NaN,NaN,NaN,NaN,NaN,45.0,Hungary,0.17
214,Estonia,0.02,NaN,26361.0,13070,NaN,NaN,NaN,NaN,NaN,NaN,46.0,Mexico,1.64
215,Poland,0.64,NaN,24654.0,12828,NaN,NaN,NaN,NaN,NaN,NaN,47.0,Lebanon,0.06
216,Slovakia,0.09,NaN,23968.0,11807,NaN,NaN,NaN,NaN,NaN,NaN,48.0,Uruguay,0.05
217,Turkey,1.12,NaN,23798.0,11621,NaN,NaN,NaN,NaN,NaN,NaN,49.0,Iran,1.09
218,Saudi Arabia,0.35,NaN,22864.0,11130,NaN,NaN,NaN,NaN,NaN,NaN,50.0,Oman,0.04
219,Croatia,0.07,NaN,22439.0,10797,NaN,NaN,NaN,NaN,NaN,NaN,51.0,Czech Republic,0.17
220,Lithuania,0.06,NaN,22126.0,10615,NaN,NaN,NaN,NaN,NaN,NaN,52.0,Costa Rica,0.06
221,Mexico,1.64,NaN,21493.0,10438,NaN,NaN,NaN,NaN,NaN,NaN,53.0,Poland,0.64
222,Tunisia,0.16,NaN,21237.0,10221,NaN,NaN,NaN,NaN,NaN,NaN,54.0,Croatia,0.07
223,Brazil,2.86,NaN,21092.0,10101,NaN,NaN,NaN,NaN,NaN,NaN,55.0,Venezuela,0.4
224,Lebanon,0.06,NaN,20526.0,10046,NaN,NaN,NaN,NaN,NaN,NaN,56.0,Syria,0.28
225,Uruguay,0.05,NaN,20207.0,9601,NaN,NaN,NaN,NaN,NaN,NaN,57.0,Turkey,1.12
226,Latvia,0.04,NaN,19162.0,9566,NaN,NaN,NaN,NaN,NaN,NaN,58.0,Brazil,2.86
227,Oman,0.04,NaN,18943.0,8632,NaN,NaN,NaN,NaN,NaN,NaN,59.0,El Salvador,0.1
228,El Salvador,0.10,NaN,18893.0,8562,NaN,NaN,NaN,NaN,NaN,NaN,60.0,Jamaica,0.04
229,Russian Federation,2.41,NaN,17610.0,8420,NaN,NaN,NaN,NaN,NaN,NaN,61.0,Estonia,0.02
230,Iran,1.09,NaN,17569.0,8152,NaN,NaN,NaN,NaN,NaN,NaN,62.0,Panama,0.05
231,Libya,0.09,NaN,17339.0,8076,NaN,NaN,NaN,NaN,NaN,NaN,63.0,Lithuania,0.06
232,Reunion,0.01,NaN,17339.0,7491,NaN,NaN,NaN,NaN,NaN,NaN,64.0,Gabon,0.02
233,Egypt,1.11,NaN,16650.0,6951,NaN,NaN,NaN,NaN,NaN,NaN,65.0,Latvia,0.04
234,Botswana,0.03,NaN,16457.0,6779,NaN,NaN,NaN,NaN,NaN,NaN,66.0,Slovakia,0.09
235,South Africa,0.75,NaN,16266.0,6396,NaN,NaN,NaN,NaN,NaN,NaN,67.0,Botswana,0.03
236,Panama,0.05,NaN,15677.0,6285,NaN,NaN,NaN,NaN,NaN,NaN,68.0,Libya,0.09
237,Bulgaria,0.13,NaN,15356.0,6285,NaN,NaN,NaN,NaN,NaN,NaN,69.0,Reunion,0.01
238,Malaysia,0.38,NaN,15046.0,6137,NaN,NaN,NaN,NaN,NaN,NaN,70.0,Malaysia,0.38
239,Costa Rica,0.06,NaN,14973.0,6042,NaN,NaN,NaN,NaN,NaN,NaN,71.0,Tunisia,0.16
240,Romania,0.36,NaN,14827.0,5977,NaN,NaN,NaN,NaN,NaN,NaN,72.0,South Africa,0.75
241,Thailand,1.01,NaN,14824.0,5754,NaN,NaN,NaN,NaN,NaN,NaN,73.0,Egypt,1.11
242,Venezuela,0.40,NaN,14629.0,5713,NaN,NaN,NaN,NaN,NaN,NaN,74.0,Dominican Republic,0.14
243,Macedonia,0.03,NaN,14606.0,5328,NaN,NaN,NaN,NaN,NaN,NaN,75.0,Peru,0.43